*.pyc
*.pyo
*.pyd
__pycache__
.Python
env/
venv/
.env
*.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
.hypothesis/
.git
.gitignore
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
media/
static/
db.sqlite3
*.sqlite3
node_modules/
celerybeat-schedule
celerybeat.pid